.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 35px;
  margin: 100px auto;
  border: none;
  border-radius: 35px;
  background-color: #06499f;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.custom-btn:hover {
  background-color: #063f89;
  color: #fff;
}